# AWS S3 Bucket Storage Credentials (Fill with your AWS details)
AWS_STORAGE_BUCKET_NAME=your-s3-bucket-name
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_S3_REGION_NAME=ap-south-1
